body {
    background-color:#baccdf;
   
  }

  .elementi{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: auto;
    align-items: center;
   
  }

  .text{
    text-align: center;
  }

  h2{
    padding-top: 13%;
    padding-bottom: 3%;
    font-weight: normal;
  }

  
  p{
    padding-bottom: 12%;
  }

  .trenutna {
    border-radius: 18px;
    border: 3px solid #537fad;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    color:#4682b4;
    width: 300px;
    height: 360px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .prethodna {
    border-radius: 50px;
    border: 3px solid #537fad;
    display: inline-block;
    color:#4682b4;
    text-align: center;
    font-family: Arial;
    width: 265px;
    height: 305px;
  }
  .sljedeca {
    border-radius: 50px;
    border: 3px solid #537fad;
    display: inline-block;
    color: #4682b4;
    text-align: center;
    font-family: Arial;
    width: 265px;
    height: 305px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #dddddd;
  }


  @media screen and (max-width: 600px){

    form{
      width: 100%;
    }
    .trenutna {
      border-radius: 16px;
      border: 3px solid #537fad;
      display: inline-block;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #4682b4;
      width: 255px;
      height: 300px;
      margin: 1%;
    }
    .sljedeca {
      border-radius: 50px;
      border: 3px solid #537fad;
      display: inline-block;
      color: #4672ac;
      text-align: center;
      font-family: Arial;
      width: 225px;
    height: 260px;
    }
    .prethodna {
     display: none;
    }
  }

