
table, tr, td {
  
    border: 0.5px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
  }
   td, tr {
    padding: 15px;
    text-align: center; 
    width: 50%;
  
  }

  tr:hover{
    border: 2px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

@media screen and (max-width: 600px){
  table{
    width: 100%;
  }
}