body {
  width: 1025px;
}
  .grid-container {
    display: grid;
    background-color: #e6e6e6;
    grid-template-columns: repeat(27, 0.5fr);
    grid-template-rows:  1fr 5fr 5fr 5fr 5fr 5fr;
    text-align: center;
  height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .box{
    border: none;
    background-color: white;
  }
  .grid-item {
    border: 1px solid #3c3c3c;
    text-align: center;

  }
  #wtp {
    background-color: #dee6ef;
    grid-column: 4 / span 6;
  }
  #wtv{
    background-color:#dee6ef;
    grid-column: 10 / span 3;
  }

  #rmap {
    background-color: #dee6ef;
    grid-column: 14 / span 6;
  }

  #rmav{
    background-color: #dee6ef;
    grid-column: 11 / span 3;
  }
  #dmt{
    background-color: #dee6ef;
    grid-column: 14 / span 4;
  }
  #dmp{
    background-color:#dee6ef;
    grid-column: 18 / span 6;
  }

  #oip{
    background-color: #dee6ef;
    grid-column: 10 / span 6;
  }

  #prazni{
    background-color: #e6e6e6;
    grid-column: 16 / span 6;
  }

  .prva{
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-align: end;
    background-color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3c3c3c;
    padding-right: 3px;
  }
  .nn{
    border-left-style: hidden;
  }

  .n{
    border-right-style: dashed;
   }
   ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dddddd;
  }


  #sat1{
    grid-column: 1 / span 4;
    background-color: white;
    border-color: white;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: center;
   color: #3c3c3c;
  }

  
  #sat2{
    grid-column: 5 / span 2;
    background-color: white;
    border-color: white;
    font-family: Verdana;
    text-align: center;
    color: #3c3c3c;
  }

  h3 {
    margin-bottom: 0em;
    font-weight: normal;
  }
  p {
   margin-top: 0em;
  }


  
  #sat3{
    grid-column: 9 / span 2;
    background-color: white;
    border-color: white;
    font-family: Verdana;
    text-align: center;
    color: #3c3c3c;
  }

  
  #sat4{
    grid-column: 15 / span 2;
    background-color: white;
    border-color: white;
    font-family: Verdana;
    text-align: center;
    color: #3c3c3c;
  }
  #sat5{
    grid-column: 19 / span 2;
    background-color: white;
    border-color: white;
    font-family: Verdana;
    text-align: center;
    color: #3c3c3c;
  }
  #sat6 {
    grid-column: 23 / span 2;
    background-color: white;
    border-color: white;
    font-family: Verdana;
    text-align: center;
    color: #3c3c3c;
  }

  

  .vrh-lijevo{
    border-bottom: hidden;
    text-align: center;
    background-color: white;
    border-color: white;
  }

  .zadnjiRed {
   border-bottom: 2px solid #3c3c3c;
  }

  .zadnja{
    border-right: 2px solid #3c3c3c;
  }

  .prviRed{
    border-top: 2px solid #3c3c3c;
  }

  .drugaLijevo{
    border-left: 2px solid #3c3c3c;
  }

  @media screen and (max-width: 600px){
    body{
      width: 100%;
    }
  .grid-container {
    display: table;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  #sat1{
   display: none;
  }

  #sat2{
    display: none;
   }
   #sat3{
    display: none;
   }
   #sat4{
    display: none;
   }
   #sat5{
    display: none;
   }
   #sat6{
    display: none;
   }
   #box{
    display: none;
   }

   #wtp {
    background-color:#dee6ef;
    grid-column: 4 / span 6;
    border: 2px solid #3c3c3c;
  }
  #wtv{
    background-color: #dee6ef;
    grid-column: 10 / span 3;
    border: 2px solid #3c3c3c;
  }

  #rmap {
    background-color: #dee6ef;
    grid-column: 14 / span 6;
    border: 2px solid#3c3c3c;
  }

  #rmav{
    background-color: #dee6ef;
    grid-column: 11 / span 3;
    border: 2px solid #3c3c3c;
  }
  #dmt{
    background-color: #dee6ef;
    grid-column: 14 / span 4;
    border: 2px solid #3c3c3c;
  }
  #dmp{
    background-color:#dee6ef;
    grid-column: 18 / span 6;
    border: 2px solid #3c3c3c;
  }

  #oip{
    background-color: #dee6ef;
    grid-column: 10 / span 6;
    border: 2px solid #3c3c3c;
  }

  #prazni{
    background-color: #e6e6e6;
    grid-column: 16 / span 6;
    border: 2px solid #3c3c3c;
  }

  .grid-item{
    border: none;
    text-align: center;
    width: 300px;
  }
  .drugaLijevo{
    border: none;
  }
  .prviRed{
    border: none;
  }
  .zadnjiRed{
    border: none;
  }
  .zadnja{
    border: none;
  }
  .n{
    border: none;
  }
  .nn{
    border: none;
  }
  .prva{
    border: 1px solid #3c3c3c;
  }
  div:empty{
    display: none;
  }


  
  }



  
  
  