table {
   
    border-collapse: collapse;
    text-align: center;
    border-top: none;

}

td{ 
    background-color: #e6e6e6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 70px;
    width: 40px;
}
p{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.prva {
    background-color: white;
    border-bottom: none;
    border-top: none;
    border-left: none;
    text-align: end;
    padding-right: 2px;
}

.zadnjaCelija1 {
    border-right: 1px solid black;
    border-left:  1px solid black;
}
.zadnjaCelija2 {
    border-right: 1px solid black;
    border-left:  1px dashed black;
}



.prvi {
    background-color: white;
  border: none;
  vertical-align: bottom;
}
.parna {
    border-left: 1px dashed black;

}
.neparna {
    border-right: none;
    border-left: 1px solid black !important;
}
.zadnjaKol {
    border-right: 1px solid black;
    border-left: 1px dashed black;

}

#spojeneTri {
    background-color: white;
    text-align: center;
}

.spojeneDvije {
    background-color: white;
    text-align: center;
}
   
#popunjena {
    background-color: #dee6ef;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #dddddd;
  }


@media screen and (max-width: 600px){  
    ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        overflow: hidden;
      }
    
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        background-color: #dddddd;
      }
    table, tr { 
        display: block;
      }
    
    td{
        display: block;
        background-color: #e6e6e6;
        border: 1px solid black;
        height: 70px;
        width: 150px;
        text-align: center;
    }
    p{
        margin-block-end: 0px;
        margin-block-start: 0px;
    }

    .prva {
        display: none;
    }

    .prvi {
        display: none;
    }

    .parna {
        border: 1px solid black;
    
    }
    .neparna {   
        border: 1px solid black;
    }
    td[value=prazno] {
         display: none;
    }
}
  
