
* {
    box-sizing: border-box;
  }
  
  
  
  input[type=text], input[type=time], select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-left: 2%;
    margin-bottom: 2%;
    width: 40%;
  }
  
  label {
    text-align: center;
    display: inline-block;
    padding-right: 2%;
    margin-bottom: 2%;
  }
  
  
  .container {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
   width: 60%;
   padding: 2%;
   height: -webkit-fill-available;
  align-content: center;
  margin-top: 120px;
  
  }
  
  
  .colForLabel {
    text-align: right;
    float: left;
    width: 50%;
  }
  
  .colForInput {
    text-align: start;
     float: left;
    width: 50%;
  
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  
  
  @media screen and (max-width: 600px){
  
    .container {
      border-radius: 5px;
      background-color: lightslategray;
      margin: auto;
     width: 60%;
     height: 70%;
    }
  
    input[type=text], input[type=time], select, textarea {
      width: 50%;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      padding-left: 2%;
      margin-bottom: 20px;
    }
  .colForLabel {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  .colForInput {
    text-align: center;
     float: left;
    width: 100%;
    margin-top: 6px;
    padding-bottom: 20px;
  }
  }
  